*{
    margin: 0;
    padding: 0;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Zm9vZCUyMGltYWdlcyUyMHJlc3RhdXJhbnR8ZW58MHwwfDB8fHww&auto=format&fit=crop&w=500&q=60");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1% 0%;
    /* cursor: pointer; */
    
    /* background-color: transparent; */
}
#form_container{
    width: 50%;
    height: 100%;
    background-color: white;
    padding: 1%;
    opacity: 0.9;
    /* cursor: pointer; */
    /* background-color: transparent; */
    
}
#form_container>h1{
    text-align: center;
    height: 10%;
    margin: 0%;
}
#form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 90%;
    background-color: white;
    /* cursor: pointer; */
}
#calcbtn{
    width: 100%;
    padding: 4% 0%;
    font-size: 130%;
    background-color: #F94C10;
    color: white;
    border: 2px solid grey;
    /* cursor: pointer; */
}
h1{
    color: #65451F;
}
label{
    color: #F94C10;
    font-size: 130%;
    font-weight: bolder;
    /* cursor: pointer; */
}